.home {
    padding: 60px 40px;
    background-color: #B3E7F2;
    height: 100vh;
    min-height: 100vh;

    &.home-open {
        height: 100%;
    }

    &__logo {
        display: flex;
        align-items: center;

        .heart {
            width: 3rem;
        }
        .cardio-logo {
            width: 12rem;
            margin-left: 1rem;
        }
    }

    &__content {
        max-width: 750px;
        margin-top: 4rem;

        h1 {
            font-size: 85px;
            line-height: 88px;
            margin: 0;
            font-weight: 400;
            animation: fade-down 800ms ease-in;
            transition: all 800ms ease;

            @include atSmallMedium {
                font-size: 45px;
                line-height: 52px;
            }
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 3rem;
            animation: fade-right 800ms ease-in;

            span {
                font-family: 'pt-med';
                font-weight: 800;
            }

            @include atSmallMedium {
                font-size: 1rem;
                line-height: 26px;
            }
        }

        button {
            border: 1px solid #000000;
            border-radius: 30px;
            background: transparent;
            padding: 15px 40px;
            min-width: 250px;
            cursor: pointer;
            font-size: 1.1rem;
            transition: all 200ms ease;
            animation: fade-up 800ms ease-in;
            color: #000000 !important;

            &:hover {
                background-color: #000000;
                color: #ffffff !important;
                transition: all 200ms ease;
            }

            &.hide-btn {
                display: none;
            }
        }
    }
}

@keyframes fade-up {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-down {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-right {
    from {
        transform: translateX(-40px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

form {
    display: flex;
    flex-direction: column;

    .checkboxes {
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
    }

    .names {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include atSmallMedium {
            flex-direction: column;
        }

        div {
            display: flex;
            flex-direction: column;
            width: 49%;

            @include atSmallMedium {
                width: 100%;
            }
        }
    }

    .container {
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-right: 1rem;
        font-size: 16px;
      }
      
      .container input[type=radio] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        margin: 0;
        margin-top: 3px;
      }
      
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 50%;
      }
      
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      
      .container input:checked ~ .checkmark {
        background-color: #000000;
      }
      
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      .container input:checked ~ .checkmark:after {
        display: block;
      }
      
      .container .checkmark:after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
      }

    input {
        padding: 15px;
        margin-bottom: 1rem;
        border-radius: 8px;
        border: none;
    }

    textarea {
        min-height: 200px;
        margin-bottom: 1rem;
        border-radius: 8px;
        border: none;
        padding: 15px;
    }

    label {
        margin-bottom: 5px;
    }

    input[type=submit] {
        border: 1px solid #000000;
        border-radius: 30px;
        background: transparent;
        padding: 15px 40px;
        min-width: 250px;
        cursor: pointer;
        font-size: 1.1rem;
        transition: all 200ms ease;
        animation: fade-up 800ms ease-in;
        max-width: 250px;
        color: #000000 !important;

        &:hover {
            background-color: #000000;
            color: #ffffff !important;
            transition: all 200ms ease;
        }
    }
}